# ─────────────────────────────────────────────
#   PREMIUM VC MUSIC BOT — ENVIRONMENT CONFIG
# ─────────────────────────────────────────────

# Get from https://my.telegram.org
API_ID=35828291
API_HASH=c025ee9d01d73b9d738d4f3e5e6137e2

# Get from @BotFather
BOT_TOKEN=8706213644:AAGXyijPKrhpv6jEmYcSrGOsaPS2WTk2xg4

# Pyrogram String Session of an ASSISTANT user account (REQUIRED for VC).
# Generate from: https://replit.com/@SOME-1/StringPyro  OR run `python string_session.py`
SESSION_STRING=BQIiskMAGVco2ViKdRvOscg3qIv5mWPfZSRcESHJmqWi33OA7NkNNbqkK71YNxUZwbTbk0Y-XJRHZ1wFEP3dPPNJkiKBwklOkE9g_NjNLgkus09rqeoY0BMVMHAHIDd9CYhzgBrobyL5SljKoV1jcDjqTYsDDvZH7xJV2viQkC6InzPgxI2UZ0ltoqE-0o1_6pDMpyDlngGzpZhU0-vZWBHBaWK9ew1jylTmbmS57oPfNUbdO25tQlVjSADsHLgA4Kqd-HeeNWdzD8um3EQcYzO2Id3M_bFjEGhwbXYuYtDguUS6ZRbNrs6XS3lPfcaubk2VLcC5X-0hr7AY16zJdbRgSsM3cQAAAAIG7kcMAQ

# (Optional) your Telegram user id — becomes the OWNER / sudo
OWNER_ID=123456789

# (Optional) Support / channel link shown on the "Support" inline button
SUPPORT_URL=https://t.me/+K_QvCsPtHPNkNTdl
